.studentinfo p {
    color: #333;
    font-size: 24px;
}
.first-div {
    width: 500px;
    height: 500px;
    background-color: #228dec;
    border-width: 3px;
    border-style: solid;
    border-color: #333; 
    border-radius: 20%;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.normalpara {
    color: green;
    font-size: 18px;
    line-height: 1.5;
}

#fav-para {
    color: purple;
    font-weight: bold;
}
header {
    background-color: #1261bd;
    display: flex;
    justify-content: center; 
    align-items: center;                
    font-size: 30px;
    font-weight: bold;
}
html {
    background-color: #89c49ee7;
}